<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330174061769-6hg9v81qqif2aqcqgtjpegh5pdjpcmpm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330174061769-6hg9v81qqif2aqcqgtjpegh5pdjpcmpm</string>
	<key>API_KEY</key>
	<string>AIzaSyCjp41uKknmGeoC4iGvhRaPJYNTi5Ca1yA</string>
	<key>GCM_SENDER_ID</key>
	<string>330174061769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notes</string>
	<key>PROJECT_ID</key>
	<string>api-node-c2241</string>
	<key>STORAGE_BUCKET</key>
	<string>api-node-c2241.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330174061769:ios:898384b763a89b4c684118</string>
	<key>DATABASE_URL</key>
	<string>https://api-node-c2241-default-rtdb.firebaseio.com</string>
</dict>
</plist>